body{
  background: white;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  display: block;
}

@font-face {
  font-family: 'nicofont';
  src: url(/NicoClip/font/nicomoji-plus_1.11.ttf);
}

#title_bar{
  position: relative;
  display: flex;
}

#title_bar .menu{
  display: flex;
  list-style: none;
}

#title_bar .menu .menu_item{
  display: block;
}

#title_bar .menu .menu_item a{
  vertical-align: top;
  display: block;
}

.hamburger{
  display: none;
  margin: 0 0 0 auto;
  background: white;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

  #title_bar .menu {
    margin-top: 40px;
    display: none;
    position: absolute;
    background: white;
    width: 100%;
  }
  #title_bar .menu .menu-item a {
    background: black;
    border-bottom: 1px solid #ccc;
    border-right: none;
  }
  #title_bar .menu .menu-item:last-child a {
    border-bottom: none;
  }
}

#welcome{
  font-family: nicofont;
  color: black;
  font-size: 30px;
  text-decoration: none;
  padding-right: 10px;
}

.index_list_bt{
  text-decoration: none;
  color: gray;
  padding-right: 10px;
}

.active{
  color:black;
}

.index_list_bt:hover{
  color: black;
  text-decoration: none;
}

.description{
  color: gray;
  border-left: 5px solid gray;
  padding-left: 5px;
}

.warning{
  color: white;
  padding: 10px 10px 10px 10px;
  background: red;
  border-radius: 10px;
  font-weight: bold;
}

#main{
  font-size: 15px;
}

#main #page-title{
  text-align: center;
  font-size: 30px;
  color: black;
  border-left: 0px;
}

#auther{
  text-align: center;
  font-size: 15px;
}

.bold{
  font-weight: bold;
}

.download{
  background: blue;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: white;
}
